$primary: #0081a7;
$secondary: #5c5c5c;
$invers: #1c2541;
$light: #c0c0c0;
$dark: #0b132b;
$info: #63909e;
$success: #3a506b;
$warning: #5bc0be;
$danger: #6fffe9;

$primary_text_color:#adacac;
$secondary_text_color: #70a1b1;

$modal-content-bg: rgb(110, 110, 110);
$modal-content-color: #000c19;
$modal-header-border-color: transparent;

$body-bg: $dark;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $secondary;

$border-loader_wrapper-outer_spin: $success;
$border-loader_wrapper-middle_spin: $info;
$border-loader_wrapper-inner_spin: $primary;

$bg-answer-result-correct: #68b38d;
$fg-answer-result-correct: $dark;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $dark;
$bg-answer-result-wrong: #c76374;
$fg-answer-result-wrong: $dark;

$progress-bg: transparent;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $danger;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$statistics-icon-opacity: 0.2;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
                $theme-colors,
                (
                        invers:$invers,
                )
);

$colors: map-merge(
                $colors,
                        (
                        )
);

$bg-footer: $success;
$footer-color: $light;

$colorChangingBg: (
        0: (fg: white, bg: black),
        50: (fg: white, bg: black),
        100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
        0: (fg: white, bg: $secondary),
        100: (fg: white, bg: $danger)
);

$colorChangingArs: (
        0: (fg: white, bg: transparent),
        25: (fg: $danger, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingNova: (
        0: (fg: white, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: $danger, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingDot: (
        0: (fg: white, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: $danger, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingClick: (
        0: (fg: $info, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: $danger, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": white, ".arsnova-logo-nova": $danger, ".arsnova-logo-click": white);

$popover-body-color: initial;

$code-color: $primary_text_color;

@import "postbuild";

.btn-secondary {
  border-color: #d3d3d3;
}

.card {
  color: $primary_text_color;
  background-color: $success;
}

#name-input-field, ::placeholder { 
  color: $success;
  opacity: 1; /* Firefox */
}
