$primary: #48a331;
$secondary: #6d6d6d;
$invers: #293329;
$light: #b1b1b1;
$dark: #040e04;
$info: #33502d;
$success: #018f0b;
$warning: #35941d;
$danger: #00cc00;

$primary_text_color:#b4b2b2;
$secondary_text_color: #70b179;

$modal-content-bg: $dark;
$modal-content-color: $secondary;
$modal-header-border-color: $info;

$body-bg: $dark;
$body-color: $primary_text_color;

$text-muted: $secondary_text_color;

$bg-pre: $secondary;

$border-loader_wrapper-outer_spin: $warning;
$border-loader_wrapper-middle_spin: $success;
$border-loader_wrapper-inner_spin: $danger;

$bg-answer-result-correct: #00a80e;
$fg-answer-result-correct: $dark;
$bg-answer-result-partially-correct: $invers;
$fg-answer-result-partially-correct: $dark;
$bg-answer-result-wrong: #a5001b;
$fg-answer-result-wrong: $dark;

$progress-bg: transparent;

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $danger;
$link-hover-decoration: underline;

$corner-radius: 10px;
$splash-screen-corner-radius: 10px;

$font-size-base: 1rem;
$small-font-size: 80%;

$statistics-icon-opacity: 0.2;

$paragraph-margin-bottom: 0;

$input-focus-border-color: none;

@import "prebuild";

$modal-footer-border-color: $border-color;

$theme-colors: map-merge(
                $theme-colors,
                (
                        invers:$invers,
                )
);

$colors: map-merge(
                $colors,
                        (
                        )
);

$bg-footer: $invers;
$footer-color: $light;

$colorChangingBg: (
        0: (fg: white, bg: black),
        50: (fg: white, bg: black),
        100: (fg: white, bg: black)
);

$colorChangingOwnNick: (
        0: (fg: white, bg: $secondary),
        100: (fg: white, bg: $danger)
);

$colorChangingArs: (
        0: (fg: white, bg: transparent),
        25: (fg: $danger, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingNova: (
        0: (fg: white, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: $danger, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingDot: (
        0: (fg: white, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: $danger, bg: transparent),
        100: (fg: white, bg: transparent)
);

$colorChangingClick: (
        0: (fg: $danger, bg: transparent),
        25: (fg: white, bg: transparent),
        50: (fg: white, bg: transparent),
        75: (fg: white, bg: transparent),
        100: (fg: $danger, bg: transparent)
);

$logo-bg: transparent;
$logo-fg: (".arsnova-logo-ars": white, ".arsnova-logo-nova": #ff0000, ".arsnova-logo-click": white);

$popover-body-color: initial;

$code-color: $warning;

@import "postbuild";

.btn-secondary {
  border-color: $warning;
}

.card, .list-group, .quiz-list, .list-group-flush, .list-group-item {
  color: $primary_text_color !important;
  background-color: $invers !important;
}

app-question-card {
    border-color: $secondary;
}

#name-input-field, .form-control, ::placeholder { 
  color: $dark;
  opacity: 1; /* Firefox */
}

.btn-header {
    background-color: $invers;
}

.navbar-footer {
        border: 2px solid $warning !important;
        border-left: 0px !important;
        border-radius: 10px !important;
}

.btn-light {
        color: $success !important;
        background-color: $dark !important;
        border-color: $danger !important;
}

.bg-light{
        color: $danger !important;
        background-color: $info !important;
        border-color: $danger !important;   
}

.bg-white, .question-text-box, .btn-block, .alert-info {
    background-color: $invers !important;
    color: $primary_text_color !important;
}

.input-group, .input-group-sm, .form-control{
        background-color: $secondary !important;
        color: $dark !important;
        border-radius: 5px;
        border-color: $dark;
}